includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.php

parameters:
    level: 6
    paths:
        - app/
        - tests/
    excludePaths:
        - app/Http/Controllers/Auth/*
    checkMissingCallableSignature: false
    reportUnmatchedIgnoredErrors: false
